body{
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}
header{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.logo{
    border-radius: 14px;
}
.nav{
    font-size: 18px;
    font-family: 'Chonburi', cursive;
}

a:link, a:visited {
	text-decoration: none;
    color: #000;
	}
a:active{
    text-decoration: underline;
    color: #000;
} 

a:hover {text-decoration: underline;
	color:#000;
	font-size:110%;
	}


table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    max-width: fit-content;
}
.content{
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    max-width: 300px;
    max-height: 300px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
div{
    min-width: auto;
    max-width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #ec7aa0;
    border-radius: 10px;
}
.container{
    margin-top: 10px;
}
.container img{
    margin-top: 15px;
    margin-bottom: 15px;
    object-fit: cover;
    width: 300px;
    height: 300px;

}
.container:hover .content{
    -webkit-transform: scale(1.05);
   transform: scale(1.05);
}
footer{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #DCDCDC;
    background-color: #2F4F4F;
    min-width: 100%;
    max-width: max-content;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p2{
    filter: invert(1);
}